* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #343434;
}

header {
  background: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-radius: 0 0 5px 5px;
  padding: 0 2rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

header .logo {
  font-size: 25px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #343434;
}

nav ul li a.active,
nav ul li a:hover {
  color: #06b6d4;
}

.hamburger {
  display: none;
}

.social-links i {
  justify-content: center;
  width: 1px;
  background-color: transparent;
  color: #343434;
  margin: 5px 15px;
  transition: 0.2s linear;
}

.hero {
  background: url('WhatsApp\ Image\ 2025-08-29\ at\ 19.13.43_2fbeeeda.jpg') no-repeat center center/cover;
  filter: brightness(140%);
  background-color: #EFEEEC;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #343434;
}
.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.fullName {
  font-weight: 900;
  margin: 0;
}
.name {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

img {
  max-width: 1000px;
  height: 100vh;
}

.hero-text h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background: #06b6d4;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
}

section {
  padding: 80px 10%;
}

.about {
  margin: 0;
  box-shadow:  0 6px 20px #343434;
  background: #f8f9fa;
}

.about h2 {
  color: #06b6d4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.about p {
  padding-bottom: 20px;
  font-size: 20px;
}

.info {
  display: flex;
  gap: 50px;
  font-size: 20px;
  font-style: oblique;
}

.info-img {
  height: 500px;
  border-radius: 50%;
}

section.resume {
  padding: 20px 0;
  /* font-size: 25px; */

}

.resume h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #06b6d4;
  font-size: 25px;
}

.resume h3 {
  color: #06b6d4;
  font-size: 20px;
}

.resume-container {
  display: flex;
  padding: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.resume .resume-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #222222;
}

.resume .left,
.resume .right {
  flex: 1;
  min-width: 300px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #34b7a7;
  /* Green line */
  position: relative;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #34b7a7;
  /* Circle marker */
}

.resume .resume-item h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c3e50;
}

.resume .resume-item h5 {
  font-size: 14px;
  background: #eef9f7;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 10px;
  border-radius: 5px;
}

.resume .resume-item p {
  margin-bottom: 10px;
  font-size: 20px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;

}

.resume .contact-info {
  margin-top: 10px;
}

.resume .contact-info ul {
  list-style: none;
  padding: 0;
}

.resume .contact-info ul li {
  margin-bottom: 10px;
  font-size: 15px;
}

.download-resume {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.download-resume a {
  display: inline-block;
  padding: 12px 20px;
  background: #06b6d4;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
  text-align: center;
}

.download-resume a:hover {
  background: #0491a6;
}


.contact {
  padding: 10px;
  background: #f9f9f9;
  font-size: 25px;
}

.contact-address {
  flex: 1.2;
  min-width: 340px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 50%;
  padding: 25px 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px #343434;
  transition: transform 0.3s ease;
  font-size: 20px;
  line-height: 40px;
}

.contact h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  color: #06b6d4;
  font-weight: 600;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 100%;
  margin: 0 auto;
}

.contact-info div {
  flex: 1;
  min-width: 260px;
  font-size: 20px;
  color: #444;
  line-height: 1.7;
  padding: 15px;
}

.contact-form {
  flex: 1.2;
  min-width: 340px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 25px 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px #343434;
  transition: transform 0.3s ease;
}

.contact-form:hover {
  transform: translateY(-5px);
}

.contact-form label {
  font-weight: 500;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #0077ff;
  outline: none;
}

.contact-form button {
  padding: 14px;
    background: #06b6d4;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.contact-form button:hover {
  background: #005fcc;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
  margin-top: 0;
  font-size: 25px;
}


  @media (max-width: 768px) {
      html,
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1;
  }

  header .logo {
    font-size: 10px;
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    text-align: left;
  }

  header nav ul {
    display: none;
  }

  header .hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
    margin: 0 35px; 
    padding: 0;
  }

  header .social-links {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
    gap: 2px;
  }

  header .social-links a {
    font-size: 20px;
    margin: 0 2px;
    padding: 0;
  }
  .hero {
    background: url('WhatsApp\ Image\ 2025-08-29\ at\ 19.13.43_2fbeeeda.jpg') no-repeat center center/cover;
    filter: brightness(100%);
    background-color: #EFEEEC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #343434;
    gap: 10px;
  }

  img {
    width: 80px;
    height: 100vh;
  }

  .hero-text h2 {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 8px;
    margin-bottom: 5px;
  }

  .btn {
    background: #06b6d4;
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
  }

  section {
    padding: 80px 10%;
  }

  h2 {
    margin: 10px 0;
  }

  .name-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .fullName {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
  }

  .name {
    font-size: 1rem;
    margin: 0;
  }

  h3 {
    margin-top: 5px;
    font-size: 20px;
  }

  .date {
    display: block;
    font-style: italic;
    margin-bottom: 5px;
    color: #555;
  }

  .about {
    margin: 0;
    box-shadow:  0 6px 20px #343434;
    background: #f8f9fa;
  }

  .about h2 {
    color: #06b6d4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .about p {
    font-size: 10px;
    padding-bottom: 30px;
  }

  .info {
    display: flex;
    gap: 50px;
    font-size: 10px;
  }

  .info-img {
    height: 500px;
    border-radius: 50%;
  }

  /* Resume Section */
  section.resume {
    padding: 60px 0;
    /* font-size: 25px; */

  }

  .resume h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #06b6d4;
    font-size: 20px;
  }

  .resume h3 {
    color: #06b6d4;
    font-size: 15px;
  }

  .resume-container {
    display: flex;
    font-size: 12px;
    padding: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }

  .resume .resume-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #222222;
  }

  .resume .left,
  .resume .right {
    flex: 1;
    min-width: 300px;
  }

  /* Resume Items */
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #34b7a7;
    /* Green line */
    position: relative;
  }

  .resume .resume-item:last-child {
    padding-bottom: 0;
  }

  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #34b7a7;
    /* Circle marker */
  }

  .resume .resume-item h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c3e50;
  }

  .resume .resume-item h5 {
    font-size: 10px;
    background: #eef9f7;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .resume .resume-item p {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .resume .resume-item ul {
    padding-left: 20px;
  }

  .resume .resume-item ul li {
    padding-bottom: 10px;

  }

  .resume .contact-info {
    margin-top: 5px;
  }

  .resume .contact-info ul {
    list-style: none;
    padding: 0;
  }

  .resume .contact-info ul li {
    margin-bottom: 5px;
    font-size: 10px;
  }

  .download-resume {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .download-resume a {
    display: inline-block;
    padding: 12px 25px;
    background: #06b6d4;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s ease;
    text-align: center;
  }

  .download-resume a:hover {
    background: #0491a6;
  }


  .contact {
    padding: 60px 20px;
    background: #f9f9f9;
    font-size: 20px;
  }

  .contact-address {
    flex: 1.2;
    min-width: 340px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 25px 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px #343434;
    transition: transform 0.3s ease;
    font-size: 10px;
    line-height: 10px;
  }

  .contact h2 {
    text-align: center;
    font-size: 10px;
    margin-bottom: 40px;
    color: #06b6d4;
    font-weight: 600;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
  }

  .contact-info div {
    flex: 1;
    min-width: 260px;
    font-size: 1.05rem;
    color: #444;
    line-height: 1.7;
    padding: 15px;
  }

  .contact-form {
    flex: 1.2;
    min-width: 340px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 25px 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px #343434;
    transition: transform 0.3s ease;
  }

  .contact-form:hover {
    transform: translateY(-5px);
  }

  .contact-form label {
    font-weight: 500;
    color: #333;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #0077ff;
    outline: none;
  }

  .contact-form button {
    padding: 14px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  .contact-form button:hover {
    background: #005fcc;
    transform: scale(1.05);
  }

  footer {
    text-align: center;
    padding: 20px;
    background: #f5f5f5;
    margin-top: 0;
    font-size: 25px;
  }
}
